bin
obj
*.make
Makefile

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.cache
*.log
libtool
.deps
stamp-h1
.libs
*.status
config.h
*~
*.gcno
coverage.info
build
debug
*.gch
.DS_Store
