bin
obj
*.make
Makefile

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.cache
*.log
libtool
.deps
stamp-h1
.libs
*.status
config.h
arg3net_test
*~
*.gcno
coverage.info
arg3net.pc
arg3net-*.tar.gz
